 @media screen and (max-width: 1025px){
    .img-size{
        height: 250px;
        width: 150px;
    }
    .buttonCart{
        font-size: 12px;
    }
    .info h6{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .info p{
        font-size: 13px;
        line-height: 1.7;
    }
    .sr{
        margin-top: 0px;
    }
    .year{
        margin-bottom: -5px;
    }
    #divWidth{
        width: 940px;
    }
}
@media screen and (max-width: 769px){
    #divWidth{
        width: 700px;
    }
    #buttonSend{
        width: 20%;;
        padding: 0px;
        font-size: 15px;
        border-radius: 10px;
    }
    #FORgetme{
        width: 30%;;
        padding: 0px;
        margin-left: 15px;
        font-size: 15px;
        border-radius: 10px;
    }
    
}
@media screen and (max-width: 426px){
    #divWidth{
        width: 400px;
    }
    #positioning{
        position: static;
        bottom: 0px;
        width: default;
    }
    #img-author{
        margin-left: 45px;
    }
    #author-p{
        margin-bottom: 25px;
    }
    #padding-author{
        padding-top: 130px;
    }
}
@media screen and (max-width: 376px){
    #divWidth{
        width: 350px;
    }
    #img-author{
        margin-left: 25px;
    }
}
@media screen and (max-width: 376px){
    #divWidth{
        width: 300px;
    }
    #img-author{
        width: 270px;
        margin-left: 10px;
    }
}